.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: #f0f0f0;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section a {
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
}

.right-section a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.carousel-container {
  
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1.5%;
}

.carousel-container .carousel .slide img {
  max-height: 400px;
}

.carousel-container .legend {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}

.carousel-container .thumbs-wrapper {
  display: none;
}
.cards-container {
  margin: 1% 27%;
}

.cards-container .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cards-container .card {
  margin: 1% 1%;
  width: calc(50%);
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.cards-container .card:hover {
  transform: translateY(-5px);
}

.cards-container .card img {
  width: 100%;
  border-radius: 5px;
}

.cards-container .card-content {
  padding: 10px 0;
}

.cards-container .card-content h3 {
  font-size: 16px;
  margin: 0;
}

.cards-container .card-content a {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.cards-container .card-content a:hover {
  text-decoration: underline;
}
.navbar .active{
  color: #666;
  text-decoration: none;
  /* font-weight: lighter; */
}


.container-page {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 2px 25%;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s, outline 0.3s;
}

.container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.container:focus {
  outline: 2px solid blue;
}
.container-content {
  display: flex;
  width: 100%;
  
}

.container-text {
  flex: 1;
}

.container-text h3 {
  margin-top: 0;
}

.container-image {
  flex: 1;
  display: flex;
  /* justify-content: ; */
}
.container:nth-child(1) {
  background-color: #ffcccc; /* Example color grading for container 1 */
}

.container:nth-child(2) {
  background-color: #ffe6cc; /* Example color grading for container 2 */
}

.container:nth-child(3) {
  background-color: #ffffcc; /* Example color grading for container 3 */
}

.container:nth-child(4) {
  background-color: #ccffcc; /* Example color grading for container 4 */
}

.container:nth-child(5) {
  background-color: #ccf5ff; /* Example color grading for container 5 */
}
.container-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.text-container {
  flex: 1;
  padding: 0 40px;
}

.text-container h2 {
  margin-top: 0;
  font-size: 24px;
}

.text-container p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.text-container p:last-child {
  margin-bottom: 0;
}